.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}
.bicicletas-lista h2 {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px; /* Desgrudar das bordas */
  max-width: 1400px;
}
